/*OUDJMAN ET MARCIAUX*/

/* BODY */ 
.MiseEnPage {
	font-size: 250%;
	text-align: center;
    -webkit-text-stroke-width: 0.13rem;
    -webkit-text-stroke-color: black;
    color: #C78805;
    margin-top: 10%;
}

.AideListe{
	background: url('PhotoCSS/BackgroundClair.png');
	background-size: cover;
}
section ul {
	margin: 0;
	padding: 0;
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;

	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

* {
	box-sizing: border-box;
}

section ul li{
	text-align: -webkit-match-parent;
}

.AideListeItem{
	border-bottom: 1px solid black;
	-webkit-box-pack: end;
	justify-content: flex-end;
	overflow: hidden;
	padding: 20px 15px;
	position: relative;
	width: 75%;
	margin: auto;
	background-color: white;
}

.AideListeItem_Complet{
	width: 100%;
}

.AideListeItem_Titre{
	cursor: pointer;
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
}

.AideListeItem_Texte{
	font-size: 80%;
	line-height: 1.5;
}
